{% extends "admin/base_site.html" %}

{% block content %}
  <table id="result_list" class="admin-table" style="width: 100%;">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Slug</th>
              <th scope="col">Class</th>
          </tr>
      </thead>
      <tbody>
            {% for slug, obj in processors.items %}
              <tr>
                  <td><strong>{{ obj.name }}</strong></td>
                  <td><strong>{{ slug }}</strong></td>
                  <td><strong>{{ obj.path }}</strong></td>
              </tr>
            {% endfor %}
      </tbody>
  </table>
{% endblock %}


